.body{
    padding: 0;
    margin: 0;
    background-color: black;
}
/* row-1 */
.row-1{
    width: 980px;
    margin: auto;
    /* border: 2px solid red; */
    height: 50px;
    color: white;
    display: flex;
    align-items: center;
    background-color: #343130;
    padding: 0px 10px;
    
}

.row-1 .left{
    width: 50%;
    height: 100%;
    /* border: 2px solid red; */
    line-height: 50px;
    display: flex;
    align-items: center;
}
.row-1 .right{
    width: 50%;
    height: 100%;
    /* border: 2px solid red; */
    
    display: flex;
    justify-content: end;
    align-items: center;
}

.row-1 .left .span{
    font-size: 20px;
    /* border: 1px solid blue; */
    
}

.img{
    /* border: 1px solid blue; */
   
}

/* row-2 */
.row-2{
    width: 1000px;
    margin: auto;
    /* border: 2px solid red; */
    height: 160px;
    background-color: white;
    display: flex;
    align-items: end;
}
.row-2 .left{
    width: 30%;
    height: 100%;
    /* border: 2px solid blue; */
}
.row-2 .right{
    width: 70%;
    height: 100%;
    /* border: 2px solid blue; */
    display: flex;
    align-items: end;
    font-weight: bold;
}
.menu{
    list-style: none;
    display: flex;
    
}
.menuItem{
    /* border: 1px solid red; */
    padding: 10px 30px;
}

.row-2-img{
    /* border: 1px solid red; */
}

/* start 3  */

.row-3{
    width: 970px;
    height: 400px;
    background-color: #ccc;
    margin: auto;
    padding: 15px;
}

.inner-row-3{
    width: 100%;
    height: 100%;
    background-color: white;
   
}