header {
    background-color: aqua;
}

header ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0px;
}

footer {
    background-color: blueviolet;
    height: 400px;
}
.main{
    max-width: 1200px;
    border: 2px solid red;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.box{
    width: 48%;
    margin: 1%;
}
.box img{
    width: 100%;
}


@media only screen and (min-width:200px) and (max-width:567px) {
    footer {
        background-color: rgb(21, 175, 31);
        height: 400px;
    }
}