@media only screen and (min-width:200px) and (max-width:567px){
   
}



/* @media only screen and (min-width:568px) and (max-width:992px){
    .box{
        flex-basis: 48%;
        margin: 1%;
        height: 200px;
        background-color: #ccc;
        border-radius: 10px;
    }
} */